<mat-nav-list>
    <ng-container *ngIf="(remindersUpcoming$ | async) as remindersUpcoming">
        <ng-container *ngIf="remindersUpcoming.length>0">
            <h3 mat-subheader>Upcoming</h3>
            <app-reminder-list-item *ngFor="let reminder of remindersUpcoming" [reminder]="reminder" (archive)="archiveReminder(reminder)"
                (unarchive)="unarchiveReminder(reminder)" (delete)="deleteReminder(reminder)"></app-reminder-list-item>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="(remindersPast$ | async) as remindersPast">
        <ng-container *ngIf="remindersPast.length>0">
            <h3 mat-subheader>Past</h3>
            <app-reminder-list-item *ngFor="let reminder of remindersPast" [reminder]="reminder" (archive)="archiveReminder(reminder)"
                (unarchive)="unarchiveReminder(reminder)" (delete)="deleteReminder(reminder)"></app-reminder-list-item>
        </ng-container>
    </ng-container>

    <div *ngIf="(reminders$ | async)?.length===0" style="text-align: center">
        <mat-icon class="empty-icon" aria-label="New reminder" matTooltip="New reminder">inbox</mat-icon>
        <br>
        <button mat-button class="create-btn" [routerLink]="['/inbox', {reminder: ''}]" matTooltip="New reminder">
            Create new reminder
        </button>
    </div>

</mat-nav-list>

<button mat-fab class="mat-accent" style="position: fixed; bottom:16px; right:16px;" [routerLink]="['/inbox', {reminder: ''}]"
    matTooltip="New reminder">
    <mat-icon aria-label="New reminder">add</mat-icon>
</button>